@media print {
    body {
        color: black;
    }
    p {
        font-family: Arial Helvetica sans-serif;
    }
    img {
        display: block;
        float: right;
    }
    .page-break	{ display: block; page-break-before: always; }
}

@media screen {
    .page-break {
        display: none;
    }
    body {
        background-image: url("../figuren/harry_potter.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: white;
    }

    h1, h2 {
        text-align: center;
        font-style: italic;
    }

    article {
        margin-top: 20%;
    }

    p {
        text-indent: 10%;
        padding-left: 25px;
        padding-right: 25px;
        font-style: italic;
        font-size: 14pt;
    }

    p:first-letter {
        font: 20pt "Old English Text MT";
    }

    img {
        display: none;
    }
}

